body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

p, input {
    font-family: var(--font-readexpro-regular);
    font-size: 2rem;

    margin: 0;
}

input#name {
    border: none;
    border-bottom: 2px solid var(--color-border);
    border-radius: 0;
    width: fit-content;

    &:focus {
        outline: none;
        border-color: var(--color-primary);
    }
}

button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 1rem 2rem;
}
