@keyframes fadeUpIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

p, input {
    font-family: var(--font-readexpro-regular);
    font-size: 2rem;

    margin: 0;
}

input[type] {
    border: none;
    border-bottom: 2px solid var(--color-border);
    border-radius: 0;
    width: fit-content;

    padding: 0.5rem;

    &:focus {
        outline: none;
        border-color: var(--color-primary);
    }
}

button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 1rem 2rem;
}

p:first-child {
    animation: fadeUpIn .75s ease-out forwards;
}

p:nth-child(2) {
    opacity: 0;
    animation: fadeUpIn .75s ease-out forwards;
    animation-delay: 0.20s;
}
button {
    opacity: 0;
    animation: fadeUpIn .75s ease-out forwards;
    animation-delay: 0.40s;
}
