main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;

  background-image: url(https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=nasa-jlV2k_Fx0fc-unsplash.jpg);
  background-size: cover;
  background-position: center;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    backdrop-filter: blur(8px) brightness(0.5);
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border: 1px solid var(--color-border);
  border-radius: 1rem;

  padding: 2rem;
  width: 600px;

  min-width: 20rem;

  h1 {
    margin: 0;
  }

  input, button {
    width: 100%;
  }
}

.buttons button {
  display: block;

  & + button {
    margin-top: 0.5rem;
  }
}
