:root {
  --color-foreground: #171D1C;
  --color-background: #F0EBE1;
  --color-border: #666;
  --color-container: #FFF;
  --color-primary: #104EE3;

  --font-heading: 1.5rem;
  --font-body: 1rem;
  --font-small: 0.875rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
