:root {
  --color-foreground: #171d1c;
  --color-background: #f0ebe1;
  --color-border: #666;
  --color-container: #fff;
  --color-primary: #104ee3;

  --font-heading: 1.5rem;
  --font-body: 1rem;
  --font-small: 0.875rem;
}

body {
  /* PLEASE FORGIVE ME */
  /* PLEEEEEEEEEEEEASE */
  display: contents;
}
