body {
  display: flex;
  justify-content: center;

  margin: 0;
}

main {
  padding: 1rem;
  width: 100%;
  max-width: 1000px;
}

header {
  display: flex;
  align-items: center;

  height: 200px;
  padding-left: 2rem;
  background-position: 0 77%;

  border-radius: 1rem;

  color: white;
}
