.calendarday {
  --glow: #171D1C55;

  position: relative;

  border: 2px solid var(--color-foreground);

  border-radius: 1.5rem;
  height: 6rem;
  width: 6rem;

  &[data-state="today"] {
    background-color: var(--color-foreground);
    color: var(--color-container);

    & span {
      color: var(--color-container);
    }
  }
  &[data-state="streak"] {
    --glow: #104EE3BB;

    background-color: var(--color-primary);
    color: var(--color-container);
    border: none;

    & span {
      color: var(--color-container);
    }
  }
  &[data-state="past"] {
    --glow: #171D1C;
    opacity: 0.2;
  }

  transition: box-shadow 0.2s ease-in-out, scale 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 0 16px 0 var(--glow);
    scale: 1.05;
  }
}

.calendarday span {
  position: absolute;
  color: var(--color-foreground);
  font-size: var(--font-small);

  user-select: none;

  &:first-child {
    top: 1rem;
    left: 1rem;
  }

  &:last-child {
    bottom: 0.5rem;
    right: 0.5rem;

    font-size: 2.5rem;
    font-weight: bold;
  }
}
